/*
    footer --- ²¿·Ö -----------------------------------------------
*/

.footerWrap{ margin-top: 20px; margin-bottom: 18px;}
.links_bg{ height: 220px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background: #f5f5f5; width: 100%;}
.links{ padding-top: 30px; overflow: hidden;}

.links_one{ width: 198px; height: 160px;}
.links_one dt{ font-size: 15px; margin-bottom: 8px; color: #414141; text-align: center;}
.links_one dd{ font-size: 24px; color: #008200; text-align: center; font-family: Arial;}
.top20{ margin-top: 20px;}

.links_two dl{ float: left; padding: 0 50px 0 50px;}
.links_two dt{ font-size: 15px; font-weight: bold; color: #414141}
.links_two dd{ line-height: 24px;}

.links_three dt{ font-size: 15px; font-weight: bold; color: #414141}
.links_three dd{ line-height: 12px; color: #666666; margin-top: 4px;}
.links_three dd img{ width: 108px; height: 108px;}

.footer_icon{ height: 130px; margin-top: 30px;}
.footer_icon a{ width: 145px; height: 94px; float: left; font-size: 15px; font-weight: bold; color: #333333; font-family: Microsoft YaHei, "Î¢ÈíÑÅºÚ";}
.footer_icon p{ text-align: center; line-height: 40px;}


.yq_link{ padding-top: 15px;  border-top: 1px solid #ccc; height: 30px;}
.yq_link li{ float: left; display: inline-block; margin-right: 20px; color: #8a8a8a;}
.yq_link li a:hover{ text-decoration: underline; color: green;}

.footer{ margin-top: 15px;}
.footer p{ text-align: center; line-height: 22px; color: #919191;}
.footer p a{ margin: 0 2px;}
.footer p a:hover{ text-decoration: underline; color: green;}