/*—˘ Ω÷ÿ÷√*/
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0;}
body{ font-size: 12px; font-family:  Microsoft YaHei,"Œ¢»Ì—≈∫⁄"; color: #545454;}
ol,ul{ list-style:none; margin:0; padding:0;}
a{ text-decoration: none; color: #545454;}

.w{ width: 1200px; margin: 0 auto;}
.fl{ float: left;}
.fr{ float: right;}
.mt10 {margin-top: 10px;}